<div [@routerTransition]>
    <app-page-header [heading]="'Ajuda'" [icon]="'fa-th-question'"></app-page-header>

    <app-modal></app-modal>
    <style>
            .JumboHeaderImg{
                background-image: url("assets/images/ajuda1.jpg");
                background-size:cover;
            }
        
        
        </style>

<div class="jumbotron JumboHeaderImg">
    <div class = "container"></div>
    <h1>Bem Vindo a página de ajuda!</h1>
 <!-- <img alt="" align="center" src="assets/images/bebidas.jpg" width="450px"  />  -->
<p>
        Clique no botão de obter ajuda e entre em contato conosco.
</p>

<p>
    
</p>

 
</div>

</div>
