<div [@routerTransition]>
<app-page-header [heading]="'Bebidas'" [icon]="'fa-th-beer'"></app-page-header>
<hr>

<style>
    .JumboHeaderImg{
        background-image: url("assets/images/bebidas.jpg");
        background-size:cover;
    }


</style>

<!-- <a href="http://www.tutorialehtml.com/" title="This is an HTML liked image">
	<img alt="alternative text for the liked image" src="assets/images/bebidas.jpg" width="120" height="75" />
</a> -->


<div class="jumbotron JumboHeaderImg">
    <div class = "container"></div>
    <h1>Bem Vindo a página de bebidas!</h1>
     <!-- <img alt="" align="center" src="assets/images/bebidas.jpg" width="450px"  />  -->
    <p>
            Clica no botão abaixo para obter mais informações sobre a página.
    </p>
    
    <p>
        <app-modal></app-modal>
    </p>
    
     
</div>

<hr/>


<app-collapse></app-collapse>




</div>
