<h3>Cerveja</h3>
<div class="card-group">
        <div class="card">
          <img class="card-img-top" src="assets/images/sk.png" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Cerveja Skol</h5>
            <p class="card-text">Jovem, ousada, irreverente e inovadora, a Skol chegou ao Brasil em 1967 e lancou a primeira cerveja em lata, feita de folha flandres, em 1971. Depois, lancou as primeiras de alumínio em 1989. Além de inovadora, Skol possui suavidade, refrescância e leveza sem igual que honram seu slogan “Desce Redondo”. É a cerveja mais consumida no país..</p>
            <p class="card-text"><small class="text-muted">Lata 350ml R$2,99</small></p>
            <p class="card-text"><small class="text-muted">Pacote com 15 unidades R$37,50</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/images/ant.png" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Cerveja Antarctica</h5>
            <p class="card-text">Água, malte, cereais não maltados, carboidratos e lúpulo. Antioxidante INS 316, estabilizante INS 405. Graduação Alcoólica: 5,0 % Vol.</p>
            <p class="card-text"><small class="text-muted">Lata 350ml R$1,99</small></p>
            <p class="card-text"><small class="text-muted">Pacote com 12 unidades R$32,28</small></p>
            
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/images/hei.png" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Cerveja Heineken</h5>
            <p class="card-text">Desde o início, a HEINEKEN dá a maior importância à qualidade. Esta dedicação define tudo o que elesfazem. Eles trazem alegria para a vida. Nós trazemos alegria para os consumidores através da promoção responsável dos nossos produtos, e do patrocínio de eventos que são importantes pra eles.</p>
            <p class="card-text"><small class="text-muted">Cerveja HEINEKEN Long Neck Garrafa 330ml R$4,29</small></p>
            <p class="card-text"><small class="text-muted">Cerveja HEINEKEN Garrafa 600ml - Caixa com 12 Unidades R$83,88</small></p>
          </div>
        </div>
      </div>
      <hr/>
      <h3>Vinho</h3>
      <div class="card-group">
            <div class="card">
              <img class="card-img-top" src="assets/images/tinto.jpg" alt="Imagem de capa do card">
              <div class="card-body">
                <h5 class="card-title">Vinho Tinto</h5>
                <p class="card-text">A bebida resultante da fermentação do suco ou mosto extraído de uvas pretas ou tintas no qual é imperativo que haja maceração das cascas no mosto com a finalidade de se atribuir cor e sabor à bebida.</p>
                <p class="card-text"><small class="text-muted">Aproximadamente R$19,90 - R$80,90</small></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="assets/images/branco.jpg" alt="Imagem de capa do card">
              <div class="card-body">
                <h5 class="card-title">Vinho Branco</h5>
                <p class="card-text"> é um vinho com coloração variando do mais pálido amarelo-esverdeado até o mais profundo dourado-âmbar[1]. Ele é produzido não se permitindo que a casca das uvas fermente junto com o vinho, pois é a casca das uvas que confere a cor escura dos vinhos tintos[2].O vinho maduro branco é bebido à temperatura ambiente. Quanto mais alta a temperatura melhor sabe.</p>
                <p class="card-text"><small class="text-muted">R$37,50 - R$60,00</small></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="assets/images/rose.jpg" alt="Imagem de capa do card">
              <div class="card-body">
                <h5 class="card-title">Vinho Rose</h5>
                <p class="card-text">Pedida certa para os dias quentes, os vinhos rosés caracterizam-se pela leveza, frescor e sua harmonização com pratos leves preparados de forma mais simples. São vinhos geralmente consumidos em sua juventude, enquanto sua marcante acidez – principalmente naqueles mais secos – encontra-se ainda em seu auge.</p>
                <p class="card-text"><small class="text-muted">R$37,50 - R$80,00</small></p>
              </div>
            </div>
          </div>

          <hr/>
          <h3>Vodka</h3>
          <div class="card-group">
                <div class="card">
                  <img class="card-img-top" src="assets/images/absolut.jpg" alt="Imagem de capa do card">
                  <div class="card-body">
                    <h5 class="card-title">Absolut Vodka</h5>
                    <p class="card-text">A variedade de produtos Absolut despertam no consumidor interesse em descobrir por detrás de cada produto uma vodka sem igual. Uma boa pedida pra quem curte uma bebida mais forte.</p>
                    <p class="card-text"><small class="text-muted">Garrafa a R$119,90</small></p>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="assets/images/sky.jpg" alt="Imagem de capa do card">
                  <div class="card-body">
                    <h5 class="card-title">Sky Vodka</h5>
                    <p class="card-text">é uma marca de vodca norte-americana fundada em 1992, por Maurice Kanbar, na cidade de San Francisco. Atualmente pertence ao Grupo Campari. É facilmente reconhecida pela cor de sua garrafa, de tom azul-cobalto, que se tornou a marca registrada da bebida.</p>
                    <p class="card-text"><small class="text-muted">Garrafa a R$45,90</small></p>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="assets/images/Smirnoff.jpg" alt="Imagem de capa do card">
                  <div class="card-body">
                    <h5 class="card-title">Smirnoff Vodka</h5>
                    <p class="card-text">é uma marca de vodca criada por Piotr Arsenieyevich Smirnov em Moscovo, Rússia. Pertence atualmente ao conglomerado britânico Diageo. Smirnoff, tem o nome de "Смирновская Водка" (transliterado Smirnovskaya Vodka). Pertence à Diageo desde 2006</p>
                    <p class="card-text"><small class="text-muted">Garrafa a R$51,38</small></p>
                  </div>
                </div>
              </div>