


 <div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div>


                
            </div>
            <img src="assets/images/logo1.png" width="500px"  />
            <h1>Informa passo desejado e vamos beber!</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" ng-model="name" class="form-control input-underline input-lg" id="" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="Password">
                    </div>
                </div>
                <a class="btn rounded-btn" [routerLink]="['/paginainicial']" (click)="onLoggedin()"> Entrar </a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Registrar</a>
            </form>
        </div>
    </div>
</div>

 


