<div [@routerTransition]>
    <h2 class="text-muted">Página Inicial<small></small></h2>
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="150%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xl-6 col-lg-6">
            <app-stat [bgClass]="'dark'" [icon]="'fa-beer'" [count]="0" [label]="'Cerveja!'" ></app-stat>
             <hr />
        </div>
        <div class="col-xl-6 col-lg-6">
            <app-stat [bgClass]="'warning'" [icon]="'fa-glass'" [count]="0" [label]="'Vinho!'" ></app-stat>
            <hr />
        </div>
            <hr />
        <div class="col-xl-6 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="124" [label]="'Novas Ordens!'" ></app-stat>
        </div>
        <div class="col-xl-6 col-lg-6">
            <app-stat [bgClass]="'danger'" [icon]="'fa-support'" [count]="13" [label]="'Novos Bilhetes!'"></app-stat>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-home"></i> Estabelecimentos
                </div>
                <!-- /.card-header -->
                <app-timeline></app-timeline>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-lg-8 -->
        
        <div class="col-lg-12">
            <hr />
            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> JANELA DE EXEMPLO
                </div>
                <!-- /.card-header -->
                <app-notification></app-notification>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <app-chat></app-chat>
            <!-- /.card .chat-card -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
</div>
