<div class="row">
    <div class="col-sm-12">
        <div class="card mb-3">
            <div class="card-header">Ajuda</div>
            <!-- Large modal -->
            <div class="card-body">
                <button class="btn btn-primary" (click)="open(content)">Obter Ajuda?</button>
                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title">Como obter ajuda?</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Para se obter qualquer tipo de dúvidas, ou adicionar sugestões e apresentar frustações sobre a aplicação, entre em contato com o nosso 
                            e-mail: <b>dreliverapp@gmail.com</b> Agradecido!
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Fechar</button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
