
<div class="card-group">
        <div class="card">
          <img class="card-img-top" src="assets/images/zé.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Zé Delivery</h5>
            <p class="card-text">Jovem, ousada, irreverente e inovadora, a Skol chegou ao Brasil em 1967 e lancou a primeira cerveja em lata, feita de folha flandres, em 1971. Depois, lancou as primeiras de alumínio em 1989. Além de inovadora, Skol possui suavidade, refrescância e leveza sem igual que honram seu slogan “Desce Redondo”. O zé é o estabelecimento da galera não perca tempo entre logo e peça a sua!</p>
            <p class="card-text"><small class="text-muted">Aproximadamente 1 hora para entrega</small></p>
            <p class="card-text"><small class="text-muted">Valor Frete R$7,50</small></p>
            <a href="https://www.ze.delivery/" target="_blank" title="HTML Tutorials">Zé Delivery</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/images/est2.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Prime Drink</h5>
            <p class="card-text">Todo mundo já passou por isso. Em uma festa ou churrasco, lá pelas altas horas, alguma bebida ou item do churrasco acaba: às vezes é a cerveja, às vezes é o gelo ou senão até mesmo carvão. E lá se vai aquela vaquinha e negociação pra saber quem vai sair até a distribuidora de bebidas mais perto para buscar mais.</p>
            <p class="card-text"><small class="text-muted">Entrega em 15-30 min até sua localização</small></p>
            <p class="card-text"><small class="text-muted">Valor Frete R$8,50</small></p>
            <a href="http://primedrink.com.br/" target="_blank" title="HTML Tutorials">Prime Drink</a>
            
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/images/est3.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Alô madruga</h5>
            <p class="card-text"> Alô Madruga foi uma das primeiras a entender o conceito de “conveniência” no Rio.
                porém o Alô Madruga finalmente chegou a Zona Sul, com uma loja em Ipanema. O disk-madruga segue a mil pelo telefone (21) 2495-4400, mas agora também é possível se resolver na loja da Rua Visconde de Pirajá 44 D, em frente a General Osório.
            </p>
            <p class="card-text"><small class="text-muted">Entre em contato com e-mail: <b> delivery@alomadruga.com.br</b></small></p>
            <p class="card-text"><small class="text-muted">Aproximadamente 1 hora até a entrega</small></p>
            <a href="http://www.alomadruga.com.br/" target="_blank" title="HTML Tutorials">Alô Madruga</a>

          </div>
        </div>
      </div>
     