<div class="card-body">
    <ul class="timeline">
        <li>
            <div class="timeline-badge"><i class="fa fa-home"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">ZÉ Delivery</h4>
                    <a href="https://www.ze.delivery/" target="_blank" title="HTML Tutorials">Zé Delivery</a>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i>    até 1 hora de entrega</small>
                    </p>
                    <p><small class="text-muted"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> valor do frete R$ 7,50 </small>
</p>

    </div>
                <div class="timeline-body">
                    <p>Zé Delivery de bebidas, Acesse logo o site e vamos tomar uma gelada!</p>
                    <img src="assets/images/seuzé.png" width="450px"  />
                </div>
             </div>
             
        </li>
        
        <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="fa fa-home"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Prime Drink Delivery</h4>
                    <a href="http://primedrink.com.br/" target="_blank" title="HTML Tutorials">Prime Drink</a>
                </div>
                <div class="timeline-body">
                        <p><small class="text-muted"><i class="fa fa-clock-o"></i>    até 1 hora de entrega</small>
                        </p>
                        <p><small class="text-muted"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> valor do frete R$ 9,50 </small>
    </p>
    <div class="timeline-body">
            <p>Prime Drink, entre logo no site e veja as promoções!</p>
            <img src="assets/images/est2.jpg" width="450px"  />
        </div>
                    
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge danger"><i class="fa fa-home"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Alô Madruga</h4>
                    <a href="http://www.alomadruga.com.br/" target="_blank" title="HTML Tutorials">Alô Madruga</a>
                </div>
                <div class="timeline-body">
                    
                        <p><small class="text-muted"><i class="fa fa-clock-o"></i>    15-30 minutos de entrega</small>
                        </p>
                        <p><small class="text-muted"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> valor do frete R$ 8,50</small>
    </p>
    <div class="timeline-body">
            <p>Alô Madruga, acesse logo o site e deixe sua madruga viva!</p>
            <img src="assets/images/est3.jpg" width="450px"  />
        </div>
                </div>
            </div>
        </li>
        
</ul>
</div>
