<div [@routerTransition]>
    <app-page-header [heading]="'Estabelecimento'" [icon]="'fa-bar-beer'"></app-page-header>
    
    <style>
            .JumboHeaderImg{
                background-image: url("assets/images/est1.jpg");
                background-size:50%;
                
                
            }
    </style>
    
    <div class="jumbotron JumboHeaderImg">
            <div class = "container"></div>
            <h1><b> Bem Vindo a página de estabelecimentos!</b></h1>
             <!-- <img alt="" align="center" src="assets/images/bebidas.jpg" width="450px"  />  -->
            <p>
                    <b>Clica no botão abaixo para obter mais informações sobre a página.</b>
            </p>
            
            <p>
                <app-modal></app-modal>
            </p>
            
            



             
        </div>

        <hr/>
        
        <app-collapse></app-collapse>
        
    </div>