<div [@routerTransition]>
        <h2 class="">Página Inicial<small></small></h2>
        <div class="row">
            <div class="col-md-12">
                <ngb-carousel>
                    <ng-template ngbSlide *ngFor="let slider of sliders">
                        <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="150%">
                        <div class="carousel-caption">
                            <h3>{{slider.label}}</h3>
                            <p>{{slider.text}}</p>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
        <hr>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-default">
                    <div class="card-header">
                        <i class="fa fa-home"></i> Estabelecimentos
                    </div>
                    <!-- /.card-header -->
                    <app-timeline></app-timeline>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col-lg-8 -->
            
            <div class="col-lg-12">
                <hr />
                
                <!-- /.card -->
    
                
                <!-- /.card .chat-card -->
            </div>
            <!-- /.col-lg-4 -->
        </div>
    </div>
    