<div class="row">
    <div class="col-sm-3">
        <div class="card mb-3">
            
            <!-- Large modal -->
            <div class="card-body">
                <button class="btn btn-dark" (click)="open(content)">Informações</button>
                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title">Informação da página</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Esta página demonstra Informações dos tipos de bebidas alcóolicas. Para se obter mais conhecimento do que esta sendo ingerido.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Fechar</button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
