<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo1.png" width="800px" />
            
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" placeholder="Nome Completo">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="Senha">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="Repita Senha">
                    </div>
                </div>
                <a class="btn rounded-btn" [routerLink]="['/login']"> Voltar </a>&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']"> Log in </a>
                <a class="btn rounded-btn" [routerLink]="['/paginainicial']"> Entrar Sem cadastrar </a>
            </form>
        </div>
    </div>
</div> 
