<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/paginainicial" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-home"></i>&nbsp;
            <span>{{ 'Página Inicial' | translate }}</span>
        </a>
       
        <a [routerLink]="['/favoritos']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-heart"></i>&nbsp;
            <span>{{ 'Favoritos' | translate }}</span>
        </a>
        <a [routerLink]="['/bebidas']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-beer"></i>&nbsp;
            <span>{{ 'Bebidas' | translate }}</span>
        </a>
        <a [routerLink]="['/estabelecimentos']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-beer"></i>&nbsp;
            <span>{{ 'Estabelecimentos' | translate }}</span>
        </a>
        <a [routerLink]="['/ajuda']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-question"></i>&nbsp;
            <span>{{ 'Ajuda' | translate }}</span>
        </a>

</div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-left"></i>&nbsp;
        <span>{{ 'Encolher barra' | translate }}</span>
    </div>
</nav>
