<h1>DRELIVER API</h1>


 <div class="card">
    <div class="card-header">
        Lendo isso aqui né mané (<strong>Utilziando MOdelo</strong>)
    </div>
    
    <hr />

    <div class="jumbotron">
        <h1>Seja Bem Vindo ao Dreliver!</h1>
        <p>
            O portal para informações de bebidas alcóolicas!
        </p>
        <p>
            <a href="javascript:void(0)" class="btn btn-primary btn-lg" role="button">Descubra mais»</a>
        </p>
    </div>


    

    <img class="img-thumbnail" src="https://1.bp.blogspot.com/-59c1rNeyFt8/V8AaNGGDg6I/AAAAAAAA1tU/o02kUINpcJ4TmyMPhNAgz-1Sntm8phExwCLcB/s1600/marketing%2Bmktmais_ze-delivery_ambev_2016.png" alt="">